@using WCGChairBuy.Web.ViewModels;
@model AddressVModel
@{
    ViewBag.Title = "AddAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmAddAddress", "PersonalCenter", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.ValidationMessageFor(m => m.Content)
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Reveiver, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Reveiver, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.Reveiver)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
        </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="添加" />
                    </div>
                </div>
}
