@using WCGChairBuy.Web.ViewModels
@model IEnumerable<AddressVModel>
@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="@Url.Action("Index")" class="list-group-item"> 个人中心 </a>
                <a href="@Url.Action("ShoppingCharts")" class="list-group-item">购物车</a>
                <a href="@Url.Action("Addresses")" class="list-group-item active">收货地址</a>
                <a href="@Url.Action("Messages")" class="list-group-item">我的留言</a>
            </div>
        </div>
        <div class="col-md-9">
            <a class="btn btn-success text-right" href="@Url.Action("AddAddress")">新增</a>
            @foreach (AddressVModel address in Model.ToList())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">收货人：@address.Reveiver , @address.Phone</h3>
                    </div>
                    <div class="panel-body">
                        @address.Content
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-info text-right" href="@Url.Action("ModifyAddress")?id=@address.Id">修改</a>
                        <a class="btn btn-danger text-right" href="@Url.Action("DeleteAddress")?id=@address.Id">删除</a>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
