@using WCGChairBuy.Web.Db;
@model List<Message>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="@Url.Action("Index")" class="list-group-item "> 个人中心 </a>
                <a href="@Url.Action("ShoppingCharts")" class="list-group-item">购物车</a>
                <a href="@Url.Action("Addresses")" class="list-group-item">收货地址</a>
                <a href="@Url.Action("Messages")" class="list-group-item active">我的留言</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">留言列表</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>内容</th>
                            <th>留言时间</th>
                        </tr>
                        @foreach (var msg in Model)
                        {
                            <tr>
                                <td>@msg.Content</td>
                                <td>@(msg.CreatedTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>