@using WCGChairBuy.Web.ViewModels;
@model LoginVModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" >
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <img src="~/Images/saix.jpg" alt="..." class="img-thumbnail">
        </div>
        <div class="col-md-1">
            
        </div>
        <div class="col-md-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="@Url.Action("CheckLogin")">
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "请输入用户名 / 邮箱", @autofocus = "true" })
                                @Html.ValidationMessageFor(t=>t.UserName)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "请输入密码" })
                                @Html.ValidationMessageFor(t => t.Password)
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="true">记住我
                                </label>
                            </div>
                            <button class="btn btn-success btn-block">登录</button>
                            <br/>
                            <div class ="form-group">
                                <p class="text-left" style="float:left;">
                                    <a href="@Url.Action("ForgetPassword")">忘记密码?</a>
                                </p>
                                <p class="text-right">
                                    新用户?<a href="@Url.Action("Register")">注册</a>
                                </p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
