@model WCGChairBuy.Web.Db.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>用户详细信息</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    用户名
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    邮箱
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    用户类型
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserType)
                </dd>

                <dt>
                    联系电话
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    性别
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sex)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("返回列表", "Index")
</p>
