@model WCGChairBuy.Web.Db.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>用户管理-修改</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>产品信息</h4>

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">

            <label class="control-label col-md-2">
                产品名称
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                价格
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                型号
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ModelNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelNumber)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                描述
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                图片地址
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageUrl)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
