@model IEnumerable<WCGChairBuy.Web.Db.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>产品管理</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">添加产品</a>
</p>
<table class="table">
    <tr>
        <th>
            产品名称
        </th>
        <th>
            产品价格
        </th>
        <th>
            产品型号
        </th>
        <th>
            产品图片
        </th>
        <th>
            产品描述
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNumber)
        </td>
        <td>
            <img style="height:100px;" src="~/Images/@item.ImageUrl" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a class="btn btn-success btn-xs" href="@Url.Action("Edit", new { id = item.Id })">修改</a>&nbsp;
            <a class="btn btn-primary btn-xs" href="@Url.Action("Details", new { id = item.Id })">详细</a>&nbsp;
            <a class="btn btn-danger btn-xs"  href="@Url.Action("Delete", new { id = item.Id })">删除</a>
        </td>
    </tr>
}
</table>
